# DATABASE
DATABASE_URL="postgresql://user:password@postgres:5432/raiar_mensagens"

# SEGURANÇA
JWT_SECRET="sua-chave-jwt-super-secreta-aqui"

# URLs
FRONTEND_URL="https://seu-dominio.com"
NEXT_PUBLIC_API_URL="https://api-seu-dominio.com/api"

# AMBIENTE
NODE_ENV="production"
PORT="3001"
